# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/app/src/main/assets/fonts/OpenSans-Bold.ttf
android/app/src/main/assets/fonts/OpenSans-Regular.ttf
android/app/src/main/assets/fonts/Poppins-Black.ttf
android/app/src/main/assets/fonts/Poppins-BlackItalic.ttf
android/app/src/main/assets/fonts/Poppins-Bold.ttf
android/app/src/main/assets/fonts/Poppins-BoldItalic.ttf
android/app/src/main/assets/fonts/Poppins-ExtraBold.ttf
android/app/src/main/assets/fonts/Poppins-ExtraBoldItalic.ttf
android/app/src/main/assets/fonts/Poppins-ExtraLight.ttf
android/app/src/main/assets/fonts/Poppins-ExtraLightItalic.ttf
android/app/src/main/assets/fonts/Poppins-Italic.ttf
android/app/src/main/assets/fonts/Poppins-Light.ttf
android/app/src/main/assets/fonts/Poppins-LightItalic.ttf
android/app/src/main/assets/fonts/Poppins-Medium.ttf
android/app/src/main/assets/fonts/Poppins-MediumItalic.ttf
android/app/src/main/assets/fonts/Poppins-Regular.ttf
android/app/src/main/assets/fonts/Poppins-SemiBold.ttf
android/app/src/main/assets/fonts/Poppins-SemiBoldItalic.ttf
android/app/src/main/assets/fonts/Poppins-Thin.ttf
android/app/src/main/assets/fonts/Poppins-ThinItalic.ttf
android/app/src/main/assets/fonts/Roboto-Black.ttf
android/app/src/main/assets/fonts/Roboto-BlackItalic.ttf
android/app/src/main/assets/fonts/Roboto-Bold.ttf
android/app/src/main/assets/fonts/Roboto-BoldItalic.ttf
android/app/src/main/assets/fonts/Roboto-Italic.ttf
android/app/src/main/assets/fonts/Roboto-Light.ttf
android/app/src/main/assets/fonts/Roboto-LightItalic.ttf
android/app/src/main/assets/fonts/Roboto-Medium.ttf
android/app/src/main/assets/fonts/Roboto-MediumItalic.ttf
android/app/src/main/assets/fonts/Roboto-Regular.ttf
android/app/src/main/assets/fonts/Roboto-Thin.ttf
android/app/src/main/assets/fonts/Roboto-ThinItalic.ttf
android/app/src/main/assets/fonts/RobotoCondensed-Bold.ttf
android/app/src/main/assets/fonts/RobotoCondensed-BoldItalic.ttf
android/app/src/main/assets/fonts/RobotoCondensed-Italic.ttf
android/app/src/main/assets/fonts/RobotoCondensed-Light.ttf
android/app/src/main/assets/fonts/RobotoCondensed-LightItalic.ttf
android/app/src/main/assets/fonts/RobotoCondensed-Regular.ttf
android/app/src/main/assets/fonts/Rubik-Black.ttf
android/app/src/main/assets/fonts/Rubik-Bold.ttf
android/app/src/main/assets/fonts/Rubik-Italic.ttf
android/app/src/main/assets/fonts/Rubik-Light.ttf
android/app/src/main/assets/fonts/Rubik-Medium.ttf
android/app/src/main/assets/fonts/Rubik-Regular.ttf
ios/Podfile.lock
ios/AOMS.xcworkspace/contents.xcworkspacedata
ios/AOMS.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
ios/AOMS/Images.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
